@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Ruda&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:#F8F8F8;
    width: 100%;
    
    h1 {
        color: #0c1c44;
        font-weight: normal;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: clamp(16px, 5vw, 32px);
    }
    
    h2 {
        color: #0c1c44;
        font-family: 'Rubik Mono One', sans-serif;
        font-weight: normal;
        font-size: clamp(12px, 5vw, 26px);
    }
}