.upcoming-vaccinations,
.past-vaccinations {
    padding: 20px 0;
    padding-bottom: 0;

    .vaccine-card {
        position: relative;
        box-shadow: 0px 4px 10px 0px #00000052;
        padding: 20px 40px;
        border-radius: 10px;
        color: white;
        font-family: 'Roboto', sans-serif;
        margin: 20px 0;
        
        p {
            color: inherit;
            margin: 10px 0;
        }

        p:first-child {
            margin-top: 0;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .vaccine-name{
            font-weight: bold;
            font-size: clamp(16px, 5vw, 26px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 12ch;
        }
        
        span {
            font-size: clamp(12px, 5vw, 16px);
            font-weight: bold;
            margin: 20px 40px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.vaccine-card:nth-child(1n){
    background-color: #43a047;
}

.vaccine-card:nth-child(1n):hover{
    background-color: #2E7D32;
}

.vaccine-card:nth-child(2n){
    background-color: #26a69a;
}

.vaccine-card:nth-child(2n):hover{
    background-color: #0097a7;
}

.vaccine-card:nth-child(3n){
    background-color: #26a69a;
}

.vaccine-card:nth-child(3n):hover{
    background-color: #00897b;
}

.vaccine-card:nth-child(4n){
    background-color: #673ab7;
}

.vaccine-card:nth-child(4n):hover{
    background-color: #512da8;
}
.vaccine-card:nth-child(5n){
    background-color: #78909c;
}

.vaccine-card:nth-child(5n):hover{
    background-color: #546e7a;
}


@media only screen and (max-width: 1200px) {
    .upcoming-vaccinations {
        .vaccine-card {
            .vaccine-name {
                max-width: 10ch;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .upcoming-vaccine-cards-container,
    .past-vaccinations-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5vw;
    }

    .past-vaccinations-container {
        gap: unset;
        column-gap: 5vw;
    }
}