.add-new,
.add-new-form {
    position: fixed !important;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 90%;

    button {
        min-width: unset;
        padding: 0;
        border-radius: 50%;
        background-color: #8331ff;
        color: #fff;

        span {
            width: 60px;
            height: 60px;
        }
    }

    button:hover {
        background-color: #6600ff;
    }
}

.add-new-form {
    .valid {
        background-color: #78c339;

    }
    
    .valid:hover {
        background-color: #528a23;
    }

    .invalid {
        background-color: #e53935;
    }
}


@media only screen and (min-width: 950px) {
    .add-new,
    .add-new-form  {
        left: calc(100vw / 4 + (100vw / 4) * 1.5) !important;
    }
}