.logo-container {
    width: 100%;
    padding: calc(12px + 5vw);
    max-width: 800px;
    text-align: center;

    .logo-container__img {
        width: 100%;
        max-width: 80%;
    }

    .logo-container__slogan {
        text-align: center;
        font-size: clamp(16px, 5vw, 32px);
        font-family: 'Ruda', sans-serif;
    }
}