.main-section-container.person {
    width: 50%;

    .MuiFormControl-root {
        width: 100%;
        gap: 5vh;
    }
}

.MuiFormControlLabel-labelPlacementStart {
    margin: unset !important;
}

@media only screen and (max-width: 800px) {
    .main-section-container {
        width: 80%;
    }
}