header {
    text-align: center;
    .menu-header {
        display: inline-flex;
        padding: calc(25px + 5vw);
        align-items: center;

        .logo-container { 
            padding: unset;
        }
    }
}