.person-name {
    display: inline-flex;

    .person-name {
        margin: unset;
        text-transform: capitalize;
    }
}

.status {
    padding-top: 2vh;
}

.edit-person {
    padding: unset !important;
}