main {
    padding: 3vh 0;
}

.main-section-container {
    width: 90%;
    margin: 0 auto;
    padding: 3vh 0px;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: clamp(16px, 6vw, 32px);

    }
}


@media only screen and (min-width: 950px) {

    body {
        background-color: #fff;
    }

    main {
        overflow: auto;
    }

    .wrapper-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        
        header {
            .mobile-menu-header {
                display: none;
            }
    
        }
    }
}